<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TypeAddMapMapper">
    <select id="getAllTypeAddMaps" resultType="com.example.entity.TypeAddMap">
        SELECT typekey, address, value
        FROM type_add_map
    </select>

    <select id="selectByAddress" resultType="com.example.entity.TypeAddMap">
        SELECT typekey, address, value
        FROM type_add_map
        WHERE address = #{address}
    </select>


  <!--  <update id="updateValueByAddressAndTypeKey">
        UPDATE type_add_map
        SET value = #{newValue}
        WHERE address = #{address}
    </update>
    <update id="updateValueByAddress">
        UPDATE type_add_map
        SET value = #{newValue}
        WHERE address = #{address}
    </update>-->

    <select id="selectAll" resultType="com.example.entity.TypeAddMap">
        SELECT * FROM type_add_map
    </select>


</mapper>